[submodule "hello-looper"] 
  path = hello-looper 
  url = https://github.com/shpar/hello-looper.git
[submodule "MIDI_controller"]
	path = MIDI_controller
	url = https://github.com/tttapa/MIDI_controller.git
